build
install
log

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeLists.txt.user

#visual studio
.vs/*
.vscode/*
!.vscode/settings.json
**/.vscode
.cache

